@import colors 


h1
  color: $blue-gray



.main-nav
  top: 0
  background-color: $blue-gray
  height: 74px
  margin: 0
  padding: 0
  border: none

  ul
    height: 100%
    left: 20px

  li
    padding: 0
    margin: 0 auto
    border: 0

    a
      text-decoration: none
      font-family: sans-serif
      font-weight: 700
      text-align: center
      font-size: 3em
      letter-spacing: -2px
      color: white
      padding: 27px
      
      &:hover
        text-decoration: none 
        color: white
        background-color: $charcoal

      &:active
        text-decoration: none

      &:visited
        text-decoration: none
        background-color: white

    .home h1
      font-size: 50px
      color:  white 


.room-section
  background-color: #DBDBDB
  height: 100vh
  width: 25%
  min-width: 250px
  display: flex
  flex-direction: column
  align-items: center

.button-large
  text-decoration: none
  width: 200px
  height: 75px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: $charcoal
  background-color: transparent 
  font-weight: 400
  font-size: 1.5em
  letter-spacing: 2px
  border: 3px solid $blue-gray
  margin-top: 50px
  margin-bottom: 40px

  &:hover
    text-decoration: none
    color: #DBDBDB
    background-color: $blue-gray

  &:visited
    text-decoration: none
    color: white
  &:active
    text-decoration: none


  &:link 
    text-decoration: none
    color: $charcoal


